body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container{
    max-width: 400px;
}

.icon{
    width: 100px;
    height: 100px;
    background-color: #ffffffc4;
    background-image: url(img/icons/21.svg);
    position: relative;
    margin: auto;
    margin-top: -50px;
    background-size: 100%;
    border-radius: 50%;
}

.time{
    height: 250px;
    background-image: url(img/night.svg);
    background-size: 100%;
}